@import "../../report-base/sass/tradebaseVar";
body,html{
	width:100%;
	height:100%;
}
.selectBase{

}
.search_btn_class{
  display: inline-block;
  height: 28px;
  width: 70px;
  margin-left: 10px;
  background: $as_00a;
  line-height: 28px;
  text-align: center;
  color: $fc_ff;
  cursor: pointer;
  border-radius: 2px;
}
.chosen-search{
	display: none!important;
}
.datareport{
	width:100%;
	height:100%;
}
.datareport-col{
	width:50%;
	float:left;
	//min-width: 330px;
	overflow: auto;
	height:100%;
	border-right:3px solid $bd_ee;
	box-sizing:border-box;
}
.datareport-col--nobd{
	border-right:0;
}
.datareport-coltit{
	width:100%;
	padding:8px 30px 10px 30px;
	line-height: 30px;
	box-sizing:border-box;
	box-shadow: 0 0 9px 0 rgba(0,0,0,0.10);
	&__tit{
		display:inline-block;
		font-size:16px;
		color:$fc_515;
		font-weight:bold;
		margin-right:20px;
	}
}
.datareport-tablelist{
	width: 100%;
}
.table-list{
  &__thead{
    background: $bg_f8;
    color:#515A6D;
    border: 1px solid #E2DEDE;
    font-weight: 900;
  }
  &__Tr{
    height: 35px;
  }
  &__str{
    height: 35px;
    text-align: center;
  }
  &__td{
    border: 1px solid #E2DEDE;
    color:#515A6D;
  }
}
.inputBase{
	height: 28px;
}
.datareport-colmain{
	width:100%;
	padding:10px 10px 10px 35px;
	box-sizing:border-box;
}
.seleted{
	background-color:#e7e7e5;
}
.datareport-treeListTable{
	width:100%;
}
.btn_kind_3{
	border-color: #dee3e6;
}
.datareport-treeListTable-tr{
	padding:4px 0;
	&__item{
		width:100%;
	}
	&__text{
		margin-left:7px;
	}
	&__inputbox{
		margin:4px 8px;
		float:left;
		width:14px;
		height:14px;
		position:relative;
		i{
			display:block;
			width:100%;
			height:100%;
		}
	}
	&__input{
		display:block;
		width:100%;
		height:100%;
		background:none;
		// outline:none;
		//opacity:0;
		position:absolute;
		top:0;
		left:0;
	}
}
.colmain_icon1{//向下小箭头
	margin-top:8px;
	float:left;
	width:10px;
	height:8px;
	background:url(../images/icon_report.png) no-repeat -396px -159px;
}
.colmain_icon01{//向右小箭头
	margin-top:8px;
	float:left;
	width:10px;
	height:8px;
	background:url(../images/icon_report.png) no-repeat -358px -157px;
}
.colmain_icon2{//展开方块
	float:left;
	width:100%;
	height:100%;
	background:url(../images/icon_report.png) no-repeat -113px -88px;
}
.colmain_icon02{//选中方块（复选框）
	float:left;
	width:100%;
	height:100%;
	background:url(../images/icon_report.png) no-repeat -154px -89px;
}
.colmain_icon04{//未选中方块（复选框）
	float:left;
	width:100%;
	height:100%;
	background:url(../images/icon_report.png) no-repeat -74px -151px;
}
.colmain_icon3{//文本
	margin-top:4px;
	float:left;
	width:12px;
	height:16px;
	background: url(../images/icon_report.png) no-repeat -75px -88px;
}
.colmain_icon03{//文件夹
	margin-top:6px;
	float:left;
	width:16px;
	height:12px;
	background: url(../images/icon_report.png) no-repeat -33px -92px;
}
.padding0{
	padding-left:20px;
}
.padding1{
	padding-left:40px;
}
.padding2{
	padding-left:60px;
}
.padding3{
	padding-left:80px;
}
.padding4{
	padding-left:100px;
}
.padding5{
	padding-left:120px;
}
.padding6{
	padding-left:140px;
}
/*
<div>
	<!-- 向下箭头 -->
	<i class="colmain_icon1"></i>
	<!-- 向右箭头 -->
	<i class="colmain_icon01"></i>
	<!-- 展开方块 -->
	<i class="colmain_icon2"></i>
	<!-- 选中方块 -->
	<i class="colmain_icon02"></i>
	<!-- 未选中方块 -->
	<i class="colmain_icon04"></i>
	<!-- 文档 -->
	<i class="colmain_icon3"></i>
	<!-- 文件夹 -->
	<i class="colmain_icon03"></i>
	<span class="colmain_text">用户列表</span>
</div>
*/