@import "../../report-base/sass/tradebaseVar";
$fc_5D7: #0375D7;
$bg_8F9: #F8F8F9;
$fc_A6D: #515A6D;
$fc_383: #838383;
$fc_A6D: #515A6D;
body, html {
  width: 100%;
  height: 100%;
}

.scp-body {
  width: 100%;
  height: 100%;
  position: relative;
}

.formcontainer-nav {
  width: 14%;
  height: 100%;
  background: $fc_ff;
  min-width: 100px;
  overflow: auto;
  overflow-x: scroll;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #e5e5e5;
  .formcontainer-nav-title{
    color: $fc_ff;
  }
}
.formcontainer-nav-ul{
  width: 100%;

}
.formcontainer-nav-list{
  height: 37px;
  line-height: 37px;
  cursor: pointer;
  text-indent: 20px;
}
.formcontainer-nav-list:hover{
  background: #f2f2f2;
}

.formcontainer-refreshTiele {
  height: 40px;

}

/*头部*/
.scp-product {
  width: 85%;
  height: 100%;
  padding: .3% .8%;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  margin-left: 0.5%;
  float: right;
  overflow: auto;
  overflow-y: scroll;
}




//列表
$bd_dee: #dee3e6;//主体边框线
.downloadcet{
  width: 100%;
  height: 100%;
}
.downloadcet-nav{
  width: 14%;
  float: left;
  height: 100%;
  background: $fc_ff;
  overflow: auto;
  overflow-x: scroll;
  &__text{
    height: 40px;
    color: $_mc;
    font-size: 14px;
    line-height: 40px;
    text-indent: 15px;
  }
}
.downloadcet-nav-list{
  width: 100%;
  margin: 0;
  &__item{
    width: 100%;
    line-height: 40px;
  }
  &__cet{
    text-indent: 10px;
  }
  &__icon{
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/photo.png) 0 no-repeat;
    background-position: -270px -148px;
  }
}
.downloadcet-main{
  width: 100%;
  height: 100%;
  background: $fc_ff;
  margin-left:0.5%;
  float: left;
  overflow: auto;
  //overflow-y: scroll;

}
.main-title{
  line-height: 45px;
  border-bottom: 1px solid #eee;
  margin: 0 1%;
  box-sizing: border-box;
  &__sign{
    float: left;
    display: inline-block;
    width: 5px;
    height: 16px;
    line-height: 16px;
    background: $_mc;
    margin: 14px 8px 0 0;
  }
  &__name{
    font-weight: 600;
  }
}
.main-box{
  line-height: 70px;
  border-bottom: 1px solid $bd_dee;
  box-sizing: border-box;
  margin: 1%;
  &__name{
    float:left ;
  }
  &__input{
    float: left;
    height: 26px;
    margin-top: 18px;
    margin-left: 1%;
    min-width: 20%;
    padding:0 1%;
    border-color: $bd_dee;
  }
  &__search{
    float: right;
    margin-top: 18px;
    margin-right: 1%;
    border-color: $bd_dee;
  }
}
.main-table{
  width: 100%;

  margin-top: 30px;
  box-sizing: border-box;
  padding: 1%;
  overflow: auto;
}
.table-list{
  &__thead{
    background: $bg_f8;
    border: 1px solid $as_ee;
  }
  &__Tr{
    height: 40px;
    cursor: pointer;
  }
  &__str{
    height: 40px;
    text-align: center;
  }
  &__td{
    border: 1px solid $as_ee;
    word-break: break-all;
    padding: 5px;
  }
}
.formcontainer-nav-ul{

}
.datasource-list-textarea{
  border: 1px solid #e5e5e5;
  width: 470px;
  margin: 20px 10px 10px 10px;
}
.datasource-list{
  padding: 20px 10px 10px 10px;
  li{
    height: 40px;
    line-height: 30px;
  }
  &__label{
    width: 150px;
    text-align: right;
    display: inline-block;
    font-weight: bold;
  }
  .inputBase{width: 305px;height: 30px;margin-left: 8px;}
  .chosen-container-single{width:305px }
}
.comSelect-select{
  width: 72px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #dee3e6;
}
.fieldinput{width: 70px;min-width: 70px}