@import "../../../../trade_base/sass/tradebaseVar";
.formcontainer{
  width: 100%;
  height: 100%;
  .formcontainer-nav{
    width: 14%;
    float: left;
    height: 100%;
    background: $fc_ff;

    min-width:7%;
    overflow: auto;
    overflow-x: scroll;
    .formcontainer-nav__text{
      height: 40px;
      color: $_mc;
      font-size: 14px;
      line-height: 40px;
      text-indent: 15px;
    }
    .firstParent__icon{
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("../images/photo.png") 0 no-repeat;
      background-position: -270px -148px;
    }
    ul{
      width: 100%;
      margin: 0;

    }
    li{
      width: 100%;

      line-height: 40px;
      .firstParent{
        width: 100%;
        height: 40px;
      }
      .firstParent__icon{
        font-size: 18px;
      }
      .chkClass{
        margin-right: 6px;
      }
    }
  }


  
  .formcontainer-refreshTiele{
    height: 40px;

  }
  .formcontainer-tool{width: 85%;height: 50px;background: $fc_ff;margin-left:0.5%;float: left;
  &__icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/photo.png") 0 no-repeat;
    background-position: -270px -148px;
  }
    &__bar{
      width: 1px;
      height: 11px;
      background: $as_ee;
      color:$as_ee;
      margin-left: 30px;

    }
    &__model{
      width: 90px;
      display: inline-block;
      margin-top: 10px;
      text-align: center;
    }
  }
  .formcontainer-main{
    width: 59%;
    overflow-x: auto;
    height: 91%;
    background: $fc_ff;
    float: left;
    margin-left:0.5%;
    margin-top: 0.5%;
    overflow-x: auto;
    position: relative;
    min-width: 20%;
    .formcontainer-mainover{
      height: 89%;
      width: 100%;
    }
    .formcontainer-table{
      width: 100%;
      .formcontainer-table__td{border: 1px solid $bd_dee;height: 40px;text-align: center}

    }
    .formcontainer-table__thead{
      height: 40px;
      //background: #e5e5e5;
      border: 1px solid $bd_dee;
    }
    .tcdPageCode{
      position: absolute;
      bottom: 0;
    }
  }
  .formcontainer-right{
    //background: $fc_ff;
    width: 25.5%;
    height: 100%;
    float: left;
    margin-left: 0.5%;
    margin-top: 0.5%;
    position: relative;
    .formcontainer-nav__text{
      height:30px;
      color: $_mc;
      font-size: 14px;
      line-height: 30px;
      text-indent: 35px;
      background: #e5e5e5;
    }
    ul{
      width:87%;
      margin: 0;

    }
    li{
      width: 100%;

      line-height: 40px;
      .firstParent{
        width: 100%;
        height: 40px;
      }
      .firstParent__icon{
        font-size: 18px;
      }
      .chkClass{
        margin-right: 6px;
      }
    }
    .formcontainer-right__partOne{
      width: 100%;
      height:25% ;
    }
    .formcontainer-right__partTwo{
      width: 100%;
      height:30% ;
      background: #e5e5e5;
      .formcontainer-right__left{
        width: 50%;
        height: 100%;
      }
      .formcontainer-nav__append{
        height: 100%;
        background: $fc_ff;
        overflow-y: scroll;
      }
      .formcontainer-right__right{
        width: 48%;
        //margin-left: 5px;
      }
      .formcontainer-nav__appendLine{
        height: 35px;
        width: 100%;
        line-height: 35px;
        text-indent: 10px;
      }
      .formcontainer-nav__textevey{
        height:30px;
        color: $_mc;
        font-size: 14px;
        line-height: 30px;
        text-indent: 25px;
        background: #e5e5e5;
        width: 100%;
      }
      .formcontainer-nav__appendV{
        height: 30%;
        background:$fc_ff;
      }
    }
    .formcontainer-right__foot{
      height: 10%;
      position: absolute;
      bottom: 15px;
    }
  }

}
.content-choose__left{
  width: 389px;
  height: 403px;
  border: 1px solid #e5e5e5;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
.content-choose__right{
  width: 389px;
  height: 403px;
  border: 1px solid #e5e5e5;
  float: left;
  margin-top: 20px;
  margin-left: 50px;

}
.supplier-list-con{
  border: 1px solid #e5e5e5;
}
.firstParent__icon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../images/photo.png") 0 no-repeat;
  background-position: -270px -148px;
}
.tabMenu-two{background: none}
#cloneTreeRow{height: 35px;line-height: 35px}