@import "../../../base/sass/baseBlue.scss";
/*
按钮注释：整体页面级别为一级按钮（背景加色，字体白色）   部分模块级别按钮为二级按钮（背景白色，字体加色）
背景注释：按钮置灰做成原色的30%透明度
*/
/*
/*
字体内容文字是#838383
标题文字是#515A6D
边框是#eeeeee
表格所有色值均为#515A6D
*/
/*
主色
*/
$_mc: #0375D7;//蓝色主色
$_m0:#323735;//黑色主色
/*
辅助色 assist
*/
$as_93c:#93ccff;//青蓝系列
$as_ee: #eee;//灰系列
$as_ec4:#ec4014;//红系列
$as_00a:#00afff;//青蓝系列
$as_5dd:#5dd297;//浅绿
$as_1f2:#1f2120;//黑系列
$as_515:#515a6d;//黑系列
$as_83: #838383;//黑系列
$as_f0: #f0f0f0;//灰系列
/************************************************************************************
字体
************************************************************************************/
/*导航*/
$fc_main:#0375d7;
$fc_83: #838383;//内容文字
$fc_515:#515a6d;//主标题文字 | 数字
$fc_ff: #fff;//一级导航栏文字
$fc_33: #333;
$fc_66: #666;
/*表格*/
$fc_48: #484848;//表格头部字体色
/*按钮*/
//一级按钮-选中字体色($fc_ff)
//一级按钮-未选中字体色($fc_515)
//一级按钮-鼠标悬停字体色($fc_93c | $fc_037)
$fc_93c:#93ccff;//鼠标悬停按钮文字颜色|边框颜色
$fc_037:#0375d7;//鼠标悬停按钮文字颜色|边框颜色
$fc_5dd:#5dd297;//二级按钮字体色 | 边框颜色
$fc_ec4:#ec4014;//二级删除按钮字体色
$fc_ff8:#ff8593;//二级删除按钮悬停字体色
$fc_00a:#00afff;//二级导出按钮字体|边框
/*其他*/
$fc_99: #999;//置灰字体色
//搜索字体
$fc_e0d:#e0dfdf;//搜索框（鼠标悬停 $bd_93c）
$fc_ee: #eee;//搜索框（鼠标未选中 $fc_ee）
//搜索框（鼠标已选中 $fc_ff）

/************************************************************************************
背景
************************************************************************************/
/*导航*/
$bg_main:#0375d7;//一级导航栏背景色
$bg_ff: #fff;
$bg_323:#323735;//侧边栏---导航底色
$bg_3d4:#3d403f;//侧边栏---二级导航栏背景色
$bg_1f2:#1f2120;//侧边栏---三级导航背景色
$bg_323:#323735;//侧边栏---三级导航滑过背景色
$bg_ee:#eee;
/*表格*/
$bg_f8: #f8f8f9;//表格头部背景色
$bg_f8f:#f8faff;//表格鼠标悬停背景色 || 隔行变色
$bg_ea: #eaeaea;//表格禁用背景色
/*按钮*/
//一级按钮背景色($bg_main)
$bg_93c:#93ccff;//一级查看详情按钮背景色（选中）
//二级按钮背景色($bg_ff)
$bg_f7: #f7f7f7;//二级按钮背景色
/*其他*/
$bg_f0: #f0f0f0;//整体页面背景色
$bg_dd: #ddd;//顶部登陆菜单背景色
$bg_93: #93ccff;//tab项背景色选中


/************************************************************************************
边框
************************************************************************************/
//边框
$bd_main:#0375d7;//输入框高亮显示(主色)
$bd_515: #515a6d;//重置按钮边框色
$bd_ee:  #eee;//按钮边框色(项目边框主色)
/*按钮*/
//二级按钮边框色($bd_main)
$bd_93c: #93ccff;//二级按钮鼠标悬停边框(处理)
$bd_037: #0375d7;//二级按钮边框色
$bd_ec4: #ec4014;//二级删除按钮边框色
$bd_00a: #00afff;//二级导出按钮边框色
$bd_5dd: #5dd297;//二级按钮边框色
$bd_018: #0187f9;//二级按钮已选中状态边框
$bd_23e: #23ee88;//二级按钮已选中状态边框
$bd_ff3: #ff3400;//二级删除已选中状态按钮边框色
$bd_15b: #15b5ff;//二级导出按钮已选中状态边框色
$bd_f0:  #f0f0f0;
$bd_83:  #838383;//搜索框（未选中）
$bd_dc:#dcdcdc;
//搜索框（鼠标悬停 $bd_93c）
//搜索框（鼠标选中 $bd_037）
$bd_ff:  #fff;

body,html{
	width:100%;
	height:100%;
	/*overflow:hidden;*/
}
.tradebasebox{
	width:100%;
	height:100%;
}
//顶部导航条
.tradebase-top{
	width:100%;
	height:64px;
	background:$_mc;
}
.tradebase-toplogo{
	overflow:hidden;
	float:left;
	&__logo{
		width:176px;
		height:36px;
		margin:14px 23px 14px 23px;
	}
}
.tradebase-topnavbox{//导航上方空白
	float:left;
	margin-top:23px;
	height:34px;
	line-height:34px;
	overflow:hidden;
}
.tradebase-topnav{//最小宽度 导航条
	height:100%;
	padding-left:10px;
	position:relative;
	overflow:hidden;
}
.tradebase-topnavinner{
	width:200%;
	height:34px;
	line-height:32px;
	white-space:nowrap;
	&__item{
		display:inline-block;
		color:$fc_ff;
		padding:0 16px;
	}
	&__text{
		width:100%;
		font-size:14px;
	}
	&__text--active{
		border-bottom:2px solid $bd_ff;
	}
}
.tradebase-topnavbtn{
	// position:absolute;
	width:60px;
	height:100%;
	// top:0;
	// right:0;
	background:$_mc;
	float:left;
	&__right{
		float:right;
		width:10px;
		height:9px;
		margin-top:20px;
		background:url(../images/icon.png) no-repeat -86px -192px; 
		cursor:pointer;
	}
	&__left{
		float: right;
	    width: 10px;
	    height: 9px;
	    margin-top: 20px;
	    background: url(../images/icon.png) no-repeat -594px -101px;
	    margin-right: 20px; 
	    cursor:pointer;
	}
}
.tradebase-topinfo{
	float: right;
    margin-top: 14px;
    height: 50px;
    // position: absolute;
    // right: 0;
    // top: 0;
    background:$_mc;
}
.tradebase-topinfosearch{
	float:left;
	margin:14px 12px 0 14px;
}
.tradebase-topinfohead{
	float:left;
	width:42px;
	height:42px;
	border-radius:50%;
	overflow:hidden;
	margin-top: 4px;
	img{
		display:block;
		width:100%;
		height:100%;
	}
}
.tradebase-topinfoname{
	color:$fc_ff;
	line-height:42px;
	margin-right:25px;
	cursor:pointer;
	&__text{
		display:inline-block;
	}
	&__icon{
		display:inline-block;
		width:14px;
		height:14px;
		position:relative;
		top:4px;
		margin-left: 10px;
		background:url(../images/icon.png) no-repeat -86px -282px;
	}
}
.tradebase-btm{
	width:100%;
	height:100%;
}
//侧边栏
.tradebase-side{
	width:143px;
	height:100%;
	//background:$bg_323;
	position:relative;
	// overflow:hidden;
	z-index:2;
}
.tradebase-innerside{
	width:209px;
}
.tradebase-side-all{
	height:80px;
	width:100%;
	position:relative;
	&__btn{
		display:block;
		width:14px;
		height:12px;
		position:absolute;
		top:50%;
		margin-top:-5px;
		right:26px;
		background:url(../images/icon.png) no-repeat -83px -96px;
		cursor:pointer;
	}
}
.tradebase-sidebox{
	width:209px;
	overflow:hidden;
	height:100%;
}
.tradebase-sidebox163{
	width:209px;
	height:100%;
	overflow-y:auto;
	margin-top: 12px
;
}
.tradebase-side-nav{
	border: 1px solid #E2DEDE;
	&__item{
		width:100%;
		text-align:center;
		border: 1px solid #E2DEDE;
	}
	&__link{
		display:block;
		width:100%;
		line-height:38px;
		color:$fc_83;
		position:relative;
		cursor:pointer;
		//background:$bg_3d4;
		padding-right: 20px;
    	box-sizing: border-box;
	}
	&__text{
		width:100%;
		//color:$fc_83;
	}
	&__icon{
		position:absolute;
		display:block;
		width:10px;
		height:10px;
		right:38px;
		top:50%;
		margin-top:-5px;
	}
	.upstatus{
		background:url(../images/icon.png) no-repeat -208px -374px;
	}
	.downstatus{
		background:url(../images/icon.png) no-repeat -86px -372px;
	}
}
.tradebase-side-navSon{
	width:100%;
	background-color:$bg_1f2;
	display:none;
	&__item{
	}
	&__link{
		color:$fc_83;
		display:block;
		width:100%;
		line-height:30px;
	}
	&__link:hover{
		background:$bg_323;
	}
}
.asidePActive{
	color: #fff!important;
	background: #00AFFF!important;
}
//四级导航
.menu-hover {
	position:absolute;
	padding: 22px 22px 22px 27px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 11px 0 rgba(0,0,0,0.20);
	overflow-y: auto;
	display:none;
	z-index:5;
	&__Business {
	  width: 100%;
	  margin-bottom: 10px;
	}
	&__list{
	  margin-bottom: 0;
	}
}
.menu-box{
	display:none;
}
.menu-name {
  float: left;
  width: 9%;
  line-height: 24px;
  &__a {
    width: 70%;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: $fc_515;
    text-align: left;
    font-weight:bold;
  }
  &__img {
    width: 8px;
    height: 10px;
    vertical-align: inherit;
  }
}
.menu-list {
  float: left;
  width: 91%;
  padding: 0;
  margin: 0;
  &-lever {
    float: left;
    width: 8.33%;
    list-style: none;
    line-height: 24px;
    font-size: 0;
    &__span{
      display: inline-block;
      width: 5%;
      font-size: 12px;
      color: $bd_ee;
    }
    &__a {
      width: 95%;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      color: $fc_83;
      //border-left: 1px solid #ccc;
    }
  }
}
//右侧
.tradebase-right{
	width:100%;
	height: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    padding-left:209px;
    box-sizing:border-box;
    background: $bg_ff;
}
.tradebase-rightinner{
	width:100%;
	height:100%;
	background: $bg_ff;
}
//右侧标签
.tradebase-singals{
	width:100%;
	position:relative;
	height:40px;
	overflow:hidden;
	padding:0 64px 0 55px;
	box-sizing:border-box;
	&__btn{
		position:absolute;
		top:0;
		left:0;
		width:55px;
		height:40px;
		padding:11px 18px 11px 18px;
		box-sizing:border-box;
	}
	&__btnicon{
		display:block;
		width:100%;
		height:100%;
		background:url(../images/icon.png) no-repeat -460px -183px;
		cursor:pointer;
	}
	&__btnmore{
		position: absolute;
	    top: 0;
	    right: 0;
	    width: 63px;
	    height: 40px;
	    padding: 17px 19px;
	    box-sizing: border-box;
	}
	&__moreicon{
		display:block;
		width:100%;
		height:100%;
		background:url(../images/icon.png) no-repeat -202px -284px;
		cursor:pointer;
	}
}
.tradebase-singalsinner{
	width:100%;
	height:100%;
	overflow:hidden;
	&__item{
		float:left;
		padding:0 5px;
		background:$bg_ee;
		height:38px;
		border:1px solid $bd_dc;
		border-top:0;
		line-height:36px;
		margin-top:1px;
		cursor:pointer;
	}
	&__text{
		display:inline-block;
		margin-right:10px;
		color:$fc_515;
		font-size:14px;
	}
	&__close{
		display:inline-block;
		width:12px;
		height:12px;
		margin-top:14px;
		margin-right:3px;
		background:url(../images/icon.png) no-repeat -336px -189px;
		cursor:pointer;
	}
}
.tradebase-topnavinner__item:hover{
	color: #fff;
}