@charset "UTF-8";
/*
按钮注释：整体页面级别为一级按钮（背景加色，字体白色）   部分模块级别按钮为二级按钮（背景白色，字体加色）
背景注释：按钮置灰做成原色的30%透明度
*/
/*
/*
字体内容文字是#838383
标题文字是#515A6D
边框是#eeeeee
表格所有色值均为#515A6D
*/
/*
主色
*/
/*
辅助色 assist
*/
/************************************************************************************
字体
************************************************************************************/
/*导航*/
/*表格*/
/*按钮*/
/*其他*/
/************************************************************************************
背景
************************************************************************************/
/*导航*/
/*表格*/
/*按钮*/
/*其他*/
/************************************************************************************
边框
************************************************************************************/
/*按钮*/
body, html { width: 100%; height: 100%; }

.scp-body { width: 100%; height: 100%; position: relative; }

.search_btn_class { display: inline-block; height: 28px; width: 80px; margin-left: 10px; background: #00afff; line-height: 28px; text-align: center; color: #fff; cursor: pointer; border-radius: 2px; position: relative; top: -2px; }

.formcontainer-nav { width: 14%; height: 100%; background: #fff; min-width: 100px; overflow: auto; overflow-x: scroll; position: absolute; top: 0; left: 0; border-right: 1px solid #e5e5e5; }

.formcontainer-nav .formcontainer-nav-title { color: #fff; }

.formcontainer-nav-ul { width: 100%; }

.formcontainer-nav-list { height: 37px; line-height: 37px; cursor: pointer; text-indent: 20px; }

.formcontainer-nav-list:hover { background: #f2f2f2; }

.formcontainer-refreshTiele { height: 40px; }

/*头部*/
.scp-product { width: 100%; height: 100%; padding: .3% .8%; box-sizing: border-box; position: relative; background: #fff; margin-left: 0.5%; float: right; overflow: auto; overflow-y: scroll; }

.downloadcet { width: 100%; height: 100%; }

.downloadcet-nav { width: 14%; float: left; height: 100%; background: #fff; overflow: auto; overflow-x: scroll; }

.downloadcet-nav__text { height: 40px; color: #0375D7; font-size: 14px; line-height: 40px; text-indent: 15px; }

.downloadcet-nav-list { width: 100%; margin: 0; }

.downloadcet-nav-list__item { width: 100%; line-height: 40px; }

.downloadcet-nav-list__cet { text-indent: 10px; }

.downloadcet-nav-list__icon { font-size: 18px; width: 20px; height: 20px; display: inline-block; background: url(../images/photo.png) 0 no-repeat; background-position: -270px -148px; }

.downloadcet-main { width: 100%; height: 100%; background: #fff; margin-left: 0.5%; float: left; overflow: auto; }

.main-title { line-height: 45px; border-bottom: 1px solid #eee; margin: 0 1%; box-sizing: border-box; }

.main-title__sign { float: left; display: inline-block; width: 5px; height: 16px; line-height: 16px; background: #0375D7; margin: 14px 8px 0 0; }

.main-title__name { font-weight: 600; }

.main-box { line-height: 24px; box-sizing: border-box; margin: 1%; }

.main-box__name { float: left; }

.main-box__input { float: left; height: 26px; margin-left: 1%; min-width: 20%; padding: 0 1%; border-color: #dee3e6; min-width: 160px; height: 28px; }

.main-box__search { float: right; margin-top: 18px; margin-right: 1%; border-color: #dee3e6; }

.main-table { width: 100%; box-sizing: border-box; overflow: auto; }

.table-list__thead { background: #f8f8f9; color: #515A6D; border: 1px solid #E2DEDE; font-weight: 900; }

.table-list__Tr { height: 40px; }

.table-list__str { height: 40px; text-align: center; }

.table-list__td { border: 1px solid #E2DEDE; color: #515A6D; padding: 5px; word-break: break-all; }

.datasource-list-textarea { border: 1px solid #e5e5e5; width: 470px; margin: 20px 10px 10px 10px; }

.datasource-list { padding: 20px 10px 10px 10px; }

.datasource-list li { height: 40px; line-height: 30px; }

.datasource-list__label { width: 150px; text-align: right; display: inline-block; font-weight: bold; }

.datasource-list .inputBase { width: 305px; height: 30px; margin-left: 8px; }

.datasource-list .chosen-container-single { width: 305px; }

.comSelect-select { width: 72px; height: 28px; line-height: 28px; border: 1px solid #dee3e6; }

.fieldinput { width: 70px; min-width: 70px; }

.tabCon { padding-top: 5px; }
