@import "../../../../trade_base/sass/tradebaseVar";
.downloadcet{
 width: 100%;
  height: 100%;
}
.downloadcet-nav{
  width: 14%;
  float: left;
  height: 100%;
  background: $fc_ff;
  overflow: auto;
  overflow-x: scroll;
  &__text{
    height: 40px;
    color: $_mc;
    font-size: 14px;
    line-height: 40px;
    text-indent: 15px;
  }
}
.downloadcet-nav-list{
  width: 100%;
  margin: 0;
  &__item{
    width: 100%;
    line-height: 40px;
  }
  &__cet{
    text-indent: 10px;
  }
  &__icon{
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/photo.png) 0 no-repeat;
    background-position: -270px -148px;
  }
}
.downloadcet-main{
  width: 85%;
  height: 100%;
  background: $fc_ff;
  margin-left:0.5%;
  float: left;
  overflow: auto;
  overflow-y: scroll;

}
.main-title{
  line-height: 45px;
  border-bottom: 1px solid #eee;
  margin: 0 1%;
  box-sizing: border-box;
  &__sign{
    float: left;
    display: inline-block;
    width: 5px;
    height: 16px;
    line-height: 16px;
    background: $_mc;
    margin: 14px 8px 0 0;
  }
  &__name{
    font-weight: 600;
  }
}
.main-box{
  line-height: 70px;
  border-bottom: 1px solid $bd_dee;
  box-sizing: border-box;
  margin: 1%;
  &__name{
    float:left ;
  }
  &__input{
    float: left;
    height: 26px;
    margin-top: 18px;
    margin-left: 1%;
    min-width: 20%;
    padding:0 1%;
    border-color: $bd_dee;
  }
  &__search{
    float: right;
    margin-top: 18px;
    margin-right: 1%;
    border-color: $bd_dee;
  }
}
.main-table{
  width: 100%;
  height:auto;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 1%;
}
.table-list{
  &__thead{
    background: $bg_f8;
    border: 1px solid $as_ee;
  }
  &__Tr{
    height: 40px;
  }
  &__str{
    height: 40px;
    text-align: center;
  }
  &__td{
    border: 1px solid $as_ee;
  }
}