@charset "UTF-8";
/*
按钮注释：整体页面级别为一级按钮（背景加色，字体白色）   部分模块级别按钮为二级按钮（背景白色，字体加色）
背景注释：按钮置灰做成原色的30%透明度
*/
/*
/*
字体内容文字是#838383
标题文字是#515A6D
边框是#eeeeee
表格所有色值均为#515A6D
*/
/*
主色
*/
/*
辅助色 assist
*/
/************************************************************************************
字体
************************************************************************************/
/*导航*/
/*表格*/
/*按钮*/
/*其他*/
/************************************************************************************
背景
************************************************************************************/
/*导航*/
/*表格*/
/*按钮*/
/*其他*/
/************************************************************************************
边框
************************************************************************************/
/*按钮*/
.login__index { width: 100%; height: 490px; position: relative; font-family: "Microsoft Yahei"; }

.login__index .loginFrom { width: 250px; height: 310px; padding: 36px 15px; border: 1px solid #e5e5e5; position: relative; left: 850px; top: 80px; background: #fff; opacity: 0.9; border-radius: 4px; }

.login__index .loginFrom .loginFrom__errorHint--hide { position: absolute; top: 0; margin: 20px 0; width: 87%; height: 30px; line-height: 30px; background: #ff6961; border-radius: 4px; color: #fff; text-indent: 10px; font-size: 14px; }

.login__index .loginFrom .loginFrom__errorHint--hide a { color: #fff; }

.login__index .loginFrom .loginFrom__errorHint--hide .loginFrom__hintContent { float: left; }

.login__index .loginFrom .loginChangePassword__icon--del { display: inline-block; width: 20px; height: 20px; margin-top: 2px; background: url("../images/img1.png") 0 -2104px no-repeat; float: right; }

.login__index .loginFrom__tittle { font-size: 16px; font-weight: bold; opacity: 1; }

.loginFrom__tittle-headFirst { font-size: 32px; line-height: 32px; text-align: center; margin-bottom: 4px; }

.loginFrom__tittle-headSecond { font-size: 18px; line-height: 18px; text-align: center; }

.login__index .loginFrom__item { width: 100%; height: 40px; padding: 10px 0; position: relative; }

.login__index .loginFrom__item .inputBox_input { height: 40px; border: 1px solid #e5e5e5; }

.login__index .loginFrom__item .loginFrom__input { width: 250px; height: 40px; border: 1px solid #e5e5e5; text-indent: 4em; outline: none; }

.login__index .loginFrom__item > * { float: left; }

.login__index .loginFrom__item .login__icon { display: block; width: 40px; height: 40px; position: absolute; top: 10px; left: 1px; outline: 0; }

.login__index .loginFrom__item .login__icon--user { background: url("../images/img1.png") 0px -2337px no-repeat; }

.login__index .loginFrom__item .login__icon--password { background: url("../images/img1.png") -130px -2337px no-repeat; }

.login__index .inputBox_authCode { display: inline-block; width: 125px; height: 40px; border: 1px solid #e5e5e5; position: absolute; right: -2px; top: 10px; }

.login__index .loginFrom__checkBox { width: 100%; height: 40px; line-height: 30px; position: relative; }

.login__index .loginFrom__checkBox .loginFrom__checkBoxLeft { position: absolute; left: 10px; width: 200px; text-align: left; height: 30px; }

.login__index .loginFrom__checkBox .loginFrom__checkBoxRight { position: absolute; right: 0px; width: 200px; height: 30px; text-align: right; }

.login__index .login__btn { width: 100%; height: 40px; padding: 18px 0; text-align: center; }

.login__index .login__btn .login__btn--login { width: 250px; color: #fff; background: #e5e5e5; border-radius: 4px; font-size: 16px; width: 250px; height: 40px; line-height: 40px; background: #0c4bd6; }

.login__index .login__iconBox { position: absolute; top: 0; left: 50%; margin-left: -90px; margin-top: -100px; }

.drag { width: 252px !important; }

.drag .drag_bg { background-color: #0375D7; }
