@import "../../report-base/sass/tradebaseVar";
$bd_dee: #dee3e6;//主体边框线
.downloadcet{
  width: 100%;
  height: 100%;
}
.search_btn_class{
  display: inline-block;
  height: 28px;
  width: 80px;
  margin-left: 10px;
  background: $as_00a;
  line-height: 28px;
  text-align: center;
  color: $fc_ff;
  cursor: pointer;
  border-radius: 2px;
}
.downloadcet-nav{
  width: 14%;
  float: left;
  height: 100%;
  background: $fc_ff;
  overflow: auto;
  overflow-x: scroll;
  &__text{
    height: 40px;
    color: $_mc;
    font-size: 14px;
    line-height: 40px;
    text-indent: 15px;
  }
}
.downloadcet-nav-list{
  width: 100%;
  margin: 0;
  &__item{
    width: 100%;
    line-height: 40px;
  }
  &__cet{
    text-indent: 10px;
  }
  &__icon{
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/photo.png) 0 no-repeat;
    background-position: -270px -148px;
  }
}
.downloadcet-main{
  width: 100%;
  height: 100%;
  background: $fc_ff;
  margin-left:0.5%;
  float: left;
  overflow: auto;
  // overflow-y: scroll;

}
.main-title{
  line-height: 45px;
  border-bottom: 1px solid #eee;
  margin: 0 1%;
  box-sizing: border-box;
  &__sign{
    float: left;
    display: inline-block;
    width: 5px;
    height: 16px;
    line-height: 16px;
    background: $_mc;
    margin: 14px 8px 0 0;
  }
  &__name{
    font-weight: 600;
  }
}
.main-box{
  line-height: 31px;
  border-bottom: 1px solid $bd_dee;
  box-sizing: border-box;
  margin: 0 1%;
  //height: 50px;
  //padding-top: 9px;
  padding-bottom: 10px;
  &__name{
    float:left ;
  }
  &__input{
    float: left;
    height: 30px;
    margin-left: 5px;
    border-color: $bd_dee;
  }
  &__search{
    float: left;
    margin-left: 10px;
    margin-right: 1%;
    border-color: $bd_dee;
  }
}
.main-table{
  width: 100%;
  height:auto;
  //margin-top: 30px;
  box-sizing: border-box;
  padding: 1%;
}
.table-list{
  &__thead{
    background: $bg_f8;
    color:#515A6D;
    border: 1px solid #E2DEDE;
    font-weight: 900;
  }
  &__Tr{
    height: 35px;
  }
  &__str{
    height: 35px;
    text-align: center;
  }
  &__td{
    border: 1px solid #E2DEDE;
    color:#515A6D;
  }
  .table-list__tdColor{
    color: $_mc;
  }

}
.chosen-container-single{
  width: 200px;
  margin-left: 5px;
}
.datasource-list{
  padding: 20px 10px 10px 10px;
  li{
    height: 40px;
    line-height: 30px;
  }
  &__label{
    width: 150px;
    text-align: right;
    display: inline-block;
    font-weight: bold;
  }
  .inputBase{width: 305px;height: 30px;margin-left: 8px;}
  .chosen-container-single{width:305px;  }
  .chosen-container-single .chosen-default{  border: 1px solid #dee3e6;     width: 316px;}

}
.btn_kind_6{
  height: 20px;
  line-height: 20px;
}