<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebase.report.dao.RptAnalyseLogMapper">
    <resultMap id="BaseResultMap1" type="com.ebase.report.model.RptAnalyseLog">
        <id column="LOG_ID" jdbcType="BIGINT" property="logId" />
        <result column="OP_USERID" jdbcType="VARCHAR" property="opUserid" />
        <result column="OP_IP" jdbcType="VARCHAR" property="opIp" />
        <result column="LOG_TIME" jdbcType="TIMESTAMP" property="logTime" />
        <result column="DATASOURCE_ID" property="datasourceId"/>
        <result column="DATASOURCE_NAME" property="datasourceName"/>
        <result column="TABLE_ID" property="tableId"/>
        <result column="TABLE_NAME" property="tableName"/>
        <result column="TABLE_NAME" property="tableName"/>
        <result column="MAKE_TIME" property="makeTime"/>

        <result column="PERSONAL_SUBJECT_ID" jdbcType="BIGINT" property="personalSubjectId" />
        <result column="SUBJECT_NAME" jdbcType="VARCHAR" property="subjectName" />
        <result column="OP_USER_NAME" jdbcType="VARCHAR" property="opUserName" />
        <result column="SQL_EXECUTION_TIME" jdbcType="BIGINT" property="sqlExecutionTime" />
    </resultMap>
    <resultMap extends="BaseResultMap1" id="ResultMapWithBLOBs" type="com.ebase.report.model.RptAnalyseLog">
        <result column="ANALYSE_SQL" jdbcType="VARCHAR" property="analyseSql" />
    </resultMap>
    <sql id="Base_Column_List">
        LOG_ID, OP_USERID, OP_IP, LOG_TIME, DATASOURCE_ID, DATASOURCE_NAME, TABLE_ID, TABLE_NAME,MAKE_TIME,PERSONAL_SUBJECT_ID,SUBJECT_NAME,
        OP_USER_NAME,SQL_EXECUTION_TIME
    </sql>
    <sql id="Blob_Column_List">
        ANALYSE_SQL
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from rpt_analyse_log
        where LOG_ID = #{logId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from rpt_analyse_log
        where LOG_ID = #{logId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ebase.report.model.RptAnalyseLog">
        insert into rpt_analyse_log
        (LOG_ID, OP_USERID, OP_IP,  LOG_TIME, ANALYSE_SQL,
         DATASOURCE_ID, DATASOURCE_NAME, TABLE_ID, TABLE_NAME,PERSONAL_SUBJECT_ID,SUBJECT_NAME,OP_USER_NAME,SQL_EXECUTION_TIME)
        values (#{logId,jdbcType=BIGINT}, #{opUserid,jdbcType=VARCHAR}, #{opIp,jdbcType=VARCHAR}, #{logTime,jdbcType=TIMESTAMP}, #{analyseSql,jdbcType=LONGVARCHAR},
        #{datasourceId},#{datasourceName},#{tableId},#{tableName},#{personalSubjectId,jdbcType=BIGINT},#{subjectName,jdbcType=VARCHAR},
        #{opUserName,jdbcType=VARCHAR},#{sqlExecutionTime,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.ebase.report.model.RptAnalyseLog">
        insert into rpt_analyse_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                LOG_ID,
            </if>
            <if test="opUserid != null">
                OP_USERID,
            </if>
            <if test="opIp != null">
                OP_IP,
            </if>
            <if test="logTime != null">
                LOG_TIME,
            </if>
            <if test="datasourceId != null">
                DATASOURCE_ID,
            </if>
            <if test="datasourceName != null">
                DATASOURCE_NAME,
            </if>
            <if test="tableId != null">
                TABLE_ID,
            </if>
            <if test="tableName != null">
                TABLE_NAME,
            </if>
            <if test="personalSubjectId != null">
                PERSONAL_SUBJECT_ID,
            </if>
            <if test="subjectName != null">
                SUBJECT_NAME,
            </if>
            <if test="opUserName != null">
                OP_USER_NAME,
            </if>
            <if test="sqlExecutionTime != null">
                OP_USER_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=BIGINT},
            </if>
            <if test="opUserid != null">
                #{opUserid,jdbcType=VARCHAR},
            </if>
            <if test="opIp != null">
                #{opIp,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                #{logTime,jdbcType=TIMESTAMP},
            </if>
            <if test="analyseSql != null">
                #{analyseSql,jdbcType=LONGVARCHAR},
            </if>
            <if test="datasourceId != null">
                #{datasourceId},
            </if>
            <if test="datasourceName != null">
                #{datasourceName},
            </if>
            <if test="tableId != null">
                #{tableId},
            </if>
            <if test="tableName != null">
                #{tableName},
            </if>
            <if test="personalSubjectId != null">
                #{personalSubjectId,jdbcType=BIGINT},
            </if>
            <if test="subjectName != null">
                #{subjectName,jdbcType=VARCHAR},
            </if>
            <if test="opUserName != null">
                #{OP_USER_NAME,jdbcType=VARCHAR},
            </if>
            <if test="sqlExecutionTime != null">
                #{sqlExecutionTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ebase.report.model.RptAnalyseLog">
        update rpt_analyse_log
        <set>
            <if test="opUserid != null">
                OP_USERID = #{opUserid,jdbcType=VARCHAR},
            </if>
            <if test="opIp != null">
                OP_IP = #{opIp,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                LOG_TIME = #{logTime,jdbcType=TIMESTAMP},
            </if>
            <if test="analyseSql != null">
                ANALYSE_SQL = #{analyseSql,jdbcType=LONGVARCHAR},
            </if>
            <if test="datasourceId != null">
                DATASOURCE_ID = #{datasourceId},
            </if>
            <if test="datasourceName != null">
                DATASOURCE_NAME = #{datasourceName},
            </if>
            <if test="tableId != null">
                TABLE_ID =  #{tableId},
            </if>
            <if test="tableName != null">
                TABLE_NAME = #{tableName}
            </if>
            <if test="personalSubjectId != null">
                #{personalSubjectId,jdbcType=BIGINT},
            </if>
            <if test="subjectName != null">
                #{subjectName,jdbcType=VARCHAR},
            </if>
            <if test="opUserName != null">
                #{opUserName,jdbcType=VARCHAR},
            </if>
            <if test="sqlExecutionTime != null">
                #{sqlExecutionTime,jdbcType=BIGINT},
            </if>
        </set>
        where LOG_ID = #{logId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ebase.report.model.RptAnalyseLog">
        update rpt_analyse_log
        set OP_USERID = #{opUserid,jdbcType=VARCHAR},
            OP_IP = #{opIp,jdbcType=VARCHAR},
            LOG_TIME = #{logTime,jdbcType=TIMESTAMP},
            ANALYSE_SQL = #{analyseSql,jdbcType=LONGVARCHAR},
            DATASOURCE_ID = #{datasourceId},
            DATASOURCE_NAME = #{datasourceName},
            TABLE_ID =  #{tableId},
            TABLE_NAME = #{tableName},
            PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT},
            SUBJECT_NAME =#{subjectName,jdbcType=VARCHAR},
             OP_USER_NAME =#{opUserName,jdbcType=VARCHAR},
               SQL_EXECUTION_TIME =#{sqlExecutionTime,jdbcType=BIGINT}
        where LOG_ID = #{logId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ebase.report.model.RptAnalyseLog">
        update rpt_analyse_log
        set OP_USERID = #{opUserid,jdbcType=VARCHAR},
            OP_IP = #{opIp,jdbcType=VARCHAR},
            LOG_TIME = #{logTime,jdbcType=TIMESTAMP},
            ANALYSE_SQL = #{analyseSql,jdbcType=LONGVARCHAR},
            DATASOURCE_ID = #{datasourceId},
            DATASOURCE_NAME = #{datasourceName},
            TABLE_ID =  #{tableId},
            TABLE_NAME = #{tableName},
             PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT},
            SUBJECT_NAME =#{subjectName,jdbcType=VARCHAR},
               OP_USER_NAME =#{opUserName,jdbcType=VARCHAR},
              SQL_EXECUTION_TIME =#{sqlExecutionTime,jdbcType=BIGINT}
        where LOG_ID = #{logId,jdbcType=BIGINT}
    </update>
    <select id="select" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List"/>
        from rpt_analyse_log
        <include refid="Base_Where_Column_List" />
        ORDER BY LOG_TIME DESC
        limit #{startRow},#{pageSize}
    </select>
    <sql id="Base_Where_Column_List">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="logId != null">
                and LOG_ID = #{logId,jdbcType=BIGINT}
            </if>
            <if test="opUserid != null">
                and OP_USERID = #{opUserid,jdbcType=VARCHAR}
            </if>
            <if test="opIp != null">
                and OP_IP = #{opIp,jdbcType=VARCHAR}
            </if>
            <if test="logTime != null">
                and LOG_TIME = #{logTime,jdbcType=TIMESTAMP}
            </if>
            <if test="analyseSql != null">
                and ANALYSE_SQL = #{analyseSql,jdbcType=LONGVARCHAR}
            </if>
            <if test="datasourceId != null">
                and DATASOURCE_ID = #{datasourceId}
            </if>
            <if test="datasourceName != null">
                and DATASOURCE_NAME = #{datasourceName}
            </if>
            <if test="tableId != null">
                and TABLE_ID = #{tableId}
            </if>
            <if test="tableName != null">
                and TABLE_NAME = #{tableName}
            </if>
            <if test="personalSubjectId != null">
                and PERSONAL_SUBJECT_ID = #{personalSubjectId}
            </if>
            <if test="subjectName != null">
                and SUBJECT_NAME = #{subjectName}
            </if>
            <if test="opUserName != null and opUserName != ''">
                and OP_USER_NAME LIKE CONCAT('%',#{opUserName,jdbcType=VARCHAR},'%')
            </if>
            <if test="sqlExecutionTime != null">
                and SQL_EXECUTION_TIME = #{sqlExecutionTime}
            </if>
        </trim>
    </sql>

    <select id="selectReportSql" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from rpt_analyse_log
        where OP_USERID = #{opUserid,jdbcType=VARCHAR}
        order by LOG_TIME limit 0,1
    </select>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.ebase.report.model.RptAnalyseLog">
        select
        count(1)
        from rpt_analyse_log
        <include refid="Base_Where_Column_List" />
    </select>
</mapper>