<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebase.report.dao.RptPersonalSubjectMapper">
    <resultMap id="BaseResultMap" type="com.ebase.report.model.RptPersonalSubject">
        <id column="PERSONAL_SUBJECT_ID" jdbcType="BIGINT" property="personalSubjectId" />
        <result column="SUBJECT_TYPE" jdbcType="VARCHAR" property="subjectType" />
        <result column="SUBJECT_SOURCE" jdbcType="VARCHAR" property="subjectSource" />
        <result column="SUBJECT_SOURCE_ID" jdbcType="BIGINT" property="subjectSourceId" />
        <result column="TABLE_ID" jdbcType="BIGINT" property="tableId" />
        <result column="SUBJECT_NAME" jdbcType="VARCHAR" property="subjectName" />
        <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
        <result column="DATA_MODEL" jdbcType="VARCHAR" property="dataModel" />
        <result column="DEMO" jdbcType="VARCHAR" property="demo" />
        <result column="REMOVE_STATUS" jdbcType="TINYINT" property="removeStatus" />
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
        <result column="CREATED_DT" jdbcType="TIMESTAMP" property="createdDt" />
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
        <result column="UPDATED_DT" jdbcType="TIMESTAMP" property="updatedDt" />
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    </resultMap>
    <sql id="Base_Column_List">
        PERSONAL_SUBJECT_ID, SUBJECT_TYPE, SUBJECT_SOURCE, SUBJECT_SOURCE_ID, TABLE_ID, SUBJECT_NAME, 
        USER_ID, DATA_MODEL, DEMO, REMOVE_STATUS, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT,ROLE_ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from rpt_personal_subject
        where PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from rpt_personal_subject
        where PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ebase.report.model.RptPersonalSubject">
        insert into rpt_personal_subject (PERSONAL_SUBJECT_ID, SUBJECT_TYPE, SUBJECT_SOURCE, 
            SUBJECT_SOURCE_ID, TABLE_ID, SUBJECT_NAME, 
            USER_ID, DATA_MODEL, DEMO, 
            REMOVE_STATUS, CREATED_BY, CREATED_DT, 
            UPDATED_BY, UPDATED_DT,ROLE_ID)
        values (#{personalSubjectId,jdbcType=BIGINT}, #{subjectType,jdbcType=VARCHAR}, #{subjectSource,jdbcType=VARCHAR}, 
            #{subjectSourceId,jdbcType=BIGINT}, #{tableId,jdbcType=BIGINT}, #{subjectName,jdbcType=VARCHAR}, 
            #{userId,jdbcType=VARCHAR}, #{dataModel,jdbcType=VARCHAR}, #{demo,jdbcType=VARCHAR}, 
            #{removeStatus,jdbcType=TINYINT}, #{createdBy,jdbcType=VARCHAR}, #{createdDt,jdbcType=TIMESTAMP}, 
            #{updatedBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP},#{roleId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.ebase.report.model.RptPersonalSubject">
        insert into rpt_personal_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="personalSubjectId != null">
                PERSONAL_SUBJECT_ID,
            </if>
            <if test="subjectType != null">
                SUBJECT_TYPE,
            </if>
            <if test="subjectSource != null">
                SUBJECT_SOURCE,
            </if>
            <if test="subjectSourceId != null">
                SUBJECT_SOURCE_ID,
            </if>
            <if test="tableId != null">
                TABLE_ID,
            </if>
            <if test="subjectName != null">
                SUBJECT_NAME,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="dataModel != null">
                DATA_MODEL,
            </if>
            <if test="demo != null">
                DEMO,
            </if>
            <if test="removeStatus != null">
                REMOVE_STATUS,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="createdDt != null">
                CREATED_DT,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY,
            </if>
            <if test="updatedDt != null">
                UPDATED_DT,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="personalSubjectId != null">
                #{personalSubjectId,jdbcType=BIGINT},
            </if>
            <if test="subjectType != null">
                #{subjectType,jdbcType=VARCHAR},
            </if>
            <if test="subjectSource != null">
                #{subjectSource,jdbcType=VARCHAR},
            </if>
            <if test="subjectSourceId != null">
                #{subjectSourceId,jdbcType=BIGINT},
            </if>
            <if test="tableId != null">
                #{tableId,jdbcType=BIGINT},
            </if>
            <if test="subjectName != null">
                #{subjectName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="dataModel != null">
                #{dataModel,jdbcType=VARCHAR},
            </if>
            <if test="demo != null">
                #{demo,jdbcType=VARCHAR},
            </if>
            <if test="removeStatus != null">
                #{removeStatus,jdbcType=TINYINT},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDt != null">
                #{createdDt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDt != null">
                #{updatedDt,jdbcType=TIMESTAMP},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ebase.report.model.RptPersonalSubject">
        update rpt_personal_subject
        <set>
            <if test="subjectType != null">
                SUBJECT_TYPE = #{subjectType,jdbcType=VARCHAR},
            </if>
            <if test="subjectSource != null">
                SUBJECT_SOURCE = #{subjectSource,jdbcType=VARCHAR},
            </if>
            <if test="subjectSourceId != null">
                SUBJECT_SOURCE_ID = #{subjectSourceId,jdbcType=BIGINT},
            </if>
            <if test="tableId != null">
                TABLE_ID = #{tableId,jdbcType=BIGINT},
            </if>
            <if test="subjectName != null">
                SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="dataModel != null">
                DATA_MODEL = #{dataModel,jdbcType=VARCHAR},
            </if>
            <if test="demo != null">
                DEMO = #{demo,jdbcType=VARCHAR},
            </if>
            <if test="removeStatus != null">
                REMOVE_STATUS = #{removeStatus,jdbcType=TINYINT},
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDt != null">
                CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDt != null">
                UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
            </if>
            <if test="roleId != null">
                ROLE_ID = #{roleId,jdbcType=BIGINT},
            </if>
        </set>
        where PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ebase.report.model.RptPersonalSubject">
        update rpt_personal_subject
        set SUBJECT_TYPE = #{subjectType,jdbcType=VARCHAR},
            SUBJECT_SOURCE = #{subjectSource,jdbcType=VARCHAR},
            SUBJECT_SOURCE_ID = #{subjectSourceId,jdbcType=BIGINT},
            TABLE_ID = #{tableId,jdbcType=BIGINT},
            SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
            USER_ID = #{userId,jdbcType=VARCHAR},
            DATA_MODEL = #{dataModel,jdbcType=VARCHAR},
            DEMO = #{demo,jdbcType=VARCHAR},
            REMOVE_STATUS = #{removeStatus,jdbcType=TINYINT},
            CREATED_BY = #{createdBy,jdbcType=VARCHAR},
            CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
            UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
            UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
            ROLE_ID = #{roleId,jdbcType=BIGINT}
        where PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT}
    </update>
    <select id="select" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from rpt_personal_subject
        <include refid="Base_Where_Column_List" />
    </select>
    <sql id="Base_Where_Column_List">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="personalSubjectId != null">
                and PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT}
            </if>
            <if test="subjectType != null">
                and SUBJECT_TYPE = #{subjectType,jdbcType=VARCHAR}
            </if>
            <if test="subjectSource != null">
                and SUBJECT_SOURCE = #{subjectSource,jdbcType=VARCHAR}
            </if>
            <if test="subjectSourceId != null">
                and SUBJECT_SOURCE_ID = #{subjectSourceId,jdbcType=BIGINT}
            </if>
            <if test="tableId != null">
                and TABLE_ID = #{tableId,jdbcType=BIGINT}
            </if>
            <if test="subjectName != null">
                and SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR}
            </if>
            <if test="userId != null">
                and USER_ID = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="dataModel != null">
                and DATA_MODEL = #{dataModel,jdbcType=VARCHAR}
            </if>
            <if test="demo != null">
                and DEMO = #{demo,jdbcType=VARCHAR}
            </if>
            <if test="removeStatus != null">
                and REMOVE_STATUS = #{removeStatus,jdbcType=TINYINT}
            </if>
            <if test="createdBy != null">
                and CREATED_BY = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="createdDt != null">
                and CREATED_DT = #{createdDt,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedBy != null">
                and UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
            </if>
            <if test="updatedDt != null">
                and UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP}
            </if>
            <if test="roleId != null">
                and ROLE_ID = #{roleId,jdbcType=BIGINT}
            </if>
        </trim>
    </sql>

    <resultMap id="BaseResultMapSource" type="com.ebase.report.model.dynamic.ReportEchoBody">
        <result column="datasourceName" jdbcType="VARCHAR" property="datasourceName" />
        <result column="databaseType" jdbcType="VARCHAR" property="databaseType" />
        <result column="subjectType" jdbcType="VARCHAR" property="subjectType" />
        <result column="personalSubjectId" jdbcType="BIGINT" property="personalSubjectId" />
        <result column="subjectSourceEnum" jdbcType="VARCHAR" property="subjectSourceEnum" />
        <result column="datasourceChineseName" jdbcType="VARCHAR" property="datasourceChineseName" />
        <collection property="reportTables" select="com.ebase.report.dao.RptDataTableMapper.selectReportTableByTableId" column="{tableId=tableId}" fetchType="eager"/>
    </resultMap>
    <select id="getThemeDataSource" parameterType="java.lang.Long" resultMap="BaseResultMapSource">
           SELECT datasource.DATASOURCE_NAME AS 'datasourceName',datasource.DATABASE_TYPE AS 'databaseType',z.SUBJECT_TYPE AS 'subjectType',
            z.TABLE_ID AS 'tableId',z.SUBJECT_SOURCE AS 'subjectSourceEnum',z.SUBJECT_NAME,datasource.DATASOURCE_CHINESE_NAME as 'datasourceChineseName'
            FROM RPT_DATASOURCE  datasource , (

            SELECT s.TABLE_ID,s.SUBJECT_TYPE,date_tab.DATASOURCE_ID,s.SUBJECT_SOURCE,s.SUBJECT_NAME FROM RPT_DATA_TABLE date_tab ,(
                SELECT sub.TABLE_ID,sub.SUBJECT_TYPE,sub.SUBJECT_SOURCE,sub.`SUBJECT_NAME` FROM RPT_PERSONAL_SUBJECT sub WHERE sub.PERSONAL_SUBJECT_ID =#{personalSubjectId,jdbcType=BIGINT}
            ) s
            WHERE date_tab.TABLE_ID = s.TABLE_ID

        )z WHERE z.DATASOURCE_ID = datasource.DATASOURCE_ID
    </select>

    <select id="selectByCreatedBy" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        DISTINCT TABLE_ID,PERSONAL_SUBJECT_ID, SUBJECT_TYPE, SUBJECT_SOURCE, SUBJECT_SOURCE_ID, SUBJECT_NAME,
        USER_ID, DATA_MODEL, DEMO, REMOVE_STATUS, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT,ROLE_ID

        FROM rpt_personal_subject
        where 1 = 1

            and
           ( USER_ID = #{acctId}
            or role_id = #{roleId}
          )
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rpt_personal_subject
    </select>

    <resultMap id="BaseDataResultMap" extends="BaseResultMap" type="com.ebase.report.model.RptPersonalSubject">

        <result column="DATASOURCE_ID" jdbcType="BIGINT" property="datasourceId" />
    </resultMap>
    <select id="selectDataByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseDataResultMap">
        SELECT
       s.*,t.DATASOURCE_ID
        FROM rpt_personal_subject s LEFT JOIN RPT_DATA_TABLE t ON s.TABLE_ID = t.TABLE_ID
        where PERSONAL_SUBJECT_ID = #{personalSubjectId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByRoleId" parameterType="java.lang.Long">
         delete from rpt_personal_subject
        where ROLE_ID = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByUserId" parameterType="java.lang.Long">
         delete from rpt_personal_subject
        where USER_ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelectiveList" parameterType="com.ebase.report.model.RptPersonalSubject">


        insert into rpt_personal_subject (PERSONAL_SUBJECT_ID, SUBJECT_TYPE, SUBJECT_SOURCE,
        SUBJECT_SOURCE_ID, TABLE_ID, SUBJECT_NAME,
        USER_ID, DATA_MODEL, DEMO,
        REMOVE_STATUS, CREATED_BY, CREATED_DT,
        UPDATED_BY, UPDATED_DT,ROLE_ID)
        values
        <foreach collection="rptPersonalSubjects" item="s" separator=",">
            (#{s.personalSubjectId,jdbcType=BIGINT}, #{s.subjectType,jdbcType=VARCHAR}, #{s.subjectSource,jdbcType=VARCHAR},
            #{s.subjectSourceId,jdbcType=BIGINT}, #{s.tableId,jdbcType=BIGINT}, #{s.subjectName,jdbcType=VARCHAR},
            #{s.userId,jdbcType=VARCHAR}, #{s.dataModel,jdbcType=VARCHAR}, #{s.demo,jdbcType=VARCHAR},
            #{s.removeStatus,jdbcType=TINYINT}, #{s.createdBy,jdbcType=VARCHAR}, #{s.createdDt,jdbcType=TIMESTAMP},
            #{s.updatedBy,jdbcType=VARCHAR}, #{s.updatedDt,jdbcType=TIMESTAMP},#{s.roleId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <select id="selectIdByRoleId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select
        PERSONAL_SUBJECT_ID
        from rpt_personal_subject
        where ROLE_ID = #{id}
    </select>

    <select id="selectIdByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select
        PERSONAL_SUBJECT_ID
        from rpt_personal_subject
        where USER_ID = #{id}
    </select>
    <select id="selectCountByTypeId" resultType="java.lang.Integer" parameterType="java.util.Map">
         SELECT
                COUNT(PERSONAL_SUBJECT_ID)
                FROM rpt_personal_subject
        where 1 = 1
          <if test="type != null and type == 0">
              and ROLE_ID = #{id}
          </if>
        <if test="type != null and type == 1">
            and USER_ID = #{id}
        </if>
    </select>
    <select id="selectIdByTableId" parameterType="java.lang.Long" resultType="java.lang.Long">
          select
        PERSONAL_SUBJECT_ID
        from rpt_personal_subject
        where TABLE_ID = #{tableId}
    </select>
    <delete id="deleteByTableId" parameterType="java.lang.Long">
        delete from rpt_personal_subject
        where TABLE_ID = #{tableId,jdbcType=BIGINT}
    </delete>
</mapper>